name: Build and Deploy Documentation

on:
  workflow_dispatch:
  push:
    branches: 
      - main
    paths:
      - '**.qmd'
      - '**.md'
      - 'src/**'
      - 'pyproject.toml'
      - '_quarto.yml'

jobs:
  render-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install jupyter nbformat nbclient ipykernel
          pip install -e .[docs]
          pip install quartodoc
    
      - name: Build docs with quartodoc
        run: quartodoc build

      - name: Render and Publish to gh-pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}